# Gradle
.gradle/
build/
**/build/
.idea/

# Local configuration
local.properties
*.iml
*.hprof

# macOS
.DS_Store

# Android Studio
*.apk
*.ap_
captures/
.externalNativeBuild/
.cxx/

# JetBrains IDEs
*.iws
out/

# Compose preview cache
*.preview

# Kotlin-specific
*.kotlin_module

# Dependency cache
**/.gradle
**/.idea

# Error logs
*.log
**/kotlin/errors/